body {
    background-color: #222;
    color: #eee;
    font-family: monospace;
    font-size: 14px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 25px;
}

.pulls-count {
    color: #28a745;
    background-color: #444;
    padding: 2px 5px;
    border-radius: 9px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #000;
}

.menu li {
    line-height: 20px;
}

.gauge {
    text-align: center;
}
.gauge .figure {
    font-size: 48px;
}

.contributions article {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #111;
}

.contributions article .date {
    text-align: right;
}

.opened {
    color: #28a745;
}
.merged {
    color: #6f42c1;
}
.closed {
    color: #e10c02;
}

.contributions .pagination {
    text-align: center;
}
.pagination a {
    margin: 10px 5px;
}

a, a:active, a:focus {
    color: #fff;
    text-decoration: none;
    border: 0;
}

a:hover {
    color: #ccc;
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
}
